@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/SourceSerif4SmText-Regular.otf.woff2') format('woff2');
}

